<h1 class= "ui header">
  <i class="spy icon"></i>
  <div class="content">
    NBA Blog
  </div>
</h1>

<%= link_to new_article_path, class: 'fluid ui inverted blue button' do %>
  <i class="plus icon"></i>
  New article
<% end %>

<table class="ui blue table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>

    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td>
          <div class="ui inverted compact buttons">
            <%= link_to article_path(article), class: 'ui button' do %>
              <div class="ui animated fade button">
                <div class="hidden content">
                  Show
                </div>
                <div class="visible content">
                  <i class="find icon"></i>
                </div>
              </div>
            <% end %>

            <%= link_to edit_article_path(article), class: 'ui button' do %>
              <div class="ui animated fade button">
                <div class="hidden content">
                  Edit
                </div>
                <div class="visible content">
                  <i class="edit icon"></i>
                </div>
              </div>
            <% end %>

            <%= link_to article_path(article), class: 'ui button', method: :delete, data: { confirm: 'Error!!!' } do %>
              <div class="ui animated fade button">
                <div class="hidden content">
                  Destroy
                </div>
                <div class="visible content">
                  <i class="trash icon"></i>
                </div>
              </div>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
