<style>
a {
  color: black;

}

.buttons .button {

  background-color: #A5D2F2;
}

body {
  background-color:  linen;
}


</style>


<h1 class= "ui header">
  <i class="spy icon"></i>
  <div class="content">
    NBA Blog
  </div>
</h1>

<button class="fluid ui inverted blue button">
  <i class="plus icon"></i>
<%= link_to 'New article', new_article_path %>
</button>

<table class="ui blue table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>

    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td>
          <div class="ui inverted compact buttons">
            <button class="ui button">
              <div class="ui animated fade button">
                <div class="hidden content">
                  <%= link_to 'Show', article_path(article) %>
                </div>
                <div class="visible content">
                  <i class="find icon"></i>
                </div>
              </div>
            </button>
            <button class="ui  button">
              <div class="ui animated fade button">
                <div class="hidden content">
                  <%= link_to 'Edit', edit_article_path(article) %>
                </div>
                <div class="visible content">
                  <i class="edit icon"></i>
                </div>
              </div>
            </button>
            <button class="ui button">
              <div class="ui animated fade button">
                <div class="hidden content">
                  <%= link_to 'Destroy', article_path(article),
                    method: :delete,
                    data: { confirm: 'Error!!!' } %>
                </div>
                <div class="visible content">
                  <i class="trash icon"></i>
                </div>
            </button>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
